@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');


* {
    font-family: montserrat !important;
}
html {
    scroll-behavior: smooth;
}

:root {
    --blue: rgb(39, 24, 126);
    --navy: rgb(119, 142, 253);
    --grey: rgb(174, 184, 254);
    --white: rgb(241, 242, 246);
    --orange: rgb(255, 134, 0);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    background-color: var(--white);
}

.navbar .login {
    border: var(--orange) 2px solid;
    color: var(--orange);
    margin-left: 30px;
    border-radius: 5px;
    font-weight: 500;
    background-color: var(--white);
    text-decoration: none;
    padding: .5rem 1.3rem;
}

.navbar .login:hover {
    background: var(--orange);
    color: var(--white);
}

.navbar .nav-item {
    margin-left: 20px;
}

.nav-link {
    color: var(--navy);

}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-nav .dropdown .dropdown-item {
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    margin-left: 10%;
    font-size: 25px;
    font-weight: 600;
    color: var(--blue);
    letter-spacing: 2px;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

@media only screen and (max-width: 1023px) {
    .navbar .nav-item {
        margin: auto;
    }

    .yt-vid {
        height: 350px;
        width: 80%;    
    }
}
@media only screen and (max-width: 1244px) {
    .yt-vid {
        height: 350px;
        width: 80%;    
    }
}
@media only screen and (max-width: 430px) {
    .usefulLinks {
        display: none;
    }
    .facility {
        text-align: justify;
        margin-left: 15px;
    }

}

@media only screen and (max-width: 574px) {
    .card-body {
        margin: 10px 20%;
    }
}

@media only screen and (max-width: 767px) {
    .card-text {
        height: 0;
    }
    .card-title {
        font-size: 20px;
        font-weight: 500;
    }
    .facility:hover {
        background: transparent;
    }
    .navbar-nav {
        text-align: center;
    }
    .carousel-item {
        height: 70%;
    
    }
    .carousel-caption {
        bottom: 165px;
    }

    .carousel-caption .fadeInDown {
        font-size: 30px;
    }

    .head-photo {
        height: 70%;
    }

    .navbar-light .navbar-brand {
        margin: auto;
    }
    .facilities {
        width: 100%;
    }
}



/* Carousel */
.carousel-item {
    height: 100vh;
    min-height: 300px;

}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
    margin-bottom: 30px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--white);
    padding-bottom: 20px;

}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.head-photo {
    height: 100%;
}

/* services */
.services {
    padding: 2%;
}
.container-fluid img {
    width: 350px;
    height: 300px;
}
.services img:hover {
    transform: scale(1.02);
    transition: 300ms ease-in-out;
}

.services .page-header {
    text-align: center;
    padding: 3% 0 1.4% 0;
}
.services .col-md-4 {
    padding: 0 2%;
}
.services .col-md-4 h4 {
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}
.services .col-md-4 p {
    width: 100%;
}

.facilities {
    margin-bottom: 20px;
}
.facility {
    border: 0;
    margin-bottom: 3rem;
}
.services h2,
.video h2 {
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-weight: 600;
}